main {
    margin-top: 71px;

}

.tab-content {
    border: 1px solid #dee2e6;
    border-top: none;
    padding: 15px;
}

#progress-overlay {

}

#progress-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 1900;
}
#progress-overlay div.progress-circle {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    margin: -70px;
    border: 16px solid lightgrey;
    /* Light grey */
    border-top: 16px solid #007bff;
    /* Blue */
    border-radius: 50%;
    width: 140px;
    height: 140px;
    animation: spin 2s linear infinite;
    z-index: 2000;
}

#progress-overlay div.progress-text {
    position: fixed;
    top: 50%;
    left: 50%;
    color: white;
    width: 140px;
    height: 20px;
    margin-left: -70px;
    margin-top: -10px;
    text-align: center;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.detall-header {
    margin-bottom:50px;
    font-size:12px;
    line-height: 1;
    margin-top:0;
}

body, .form-control, h3, .btn  {
    font-size: 14px;
}



h2 {
    font-size:16px;    
}

h2 a {
    float:right;
}

h2, h3 {
    font-weight: bold;
    text-align: center;
}

#searches_wrapper {
    margin-top: 15px;
}

.modal-backdrop {
    z-index: 500;
}

 .modal-lg {
 max-width:90%;
}

 .table {
     border-collapse: collapse;
 }

 #detall-recurs, .detall-header {
     margin: 15px 0;
     border: 1px solid lightgrey;
     border-radius: 5px;
     padding-top:15px;
     padding-bottom:15px;
 }

 input[type="date"] {
     border-radius: 0.25rem;
 }

.no-sort::after { display: none!important; }
.no-sort::before{ display: none!important; }

.no-sort { pointer-events: none!important; cursor: default!important; }

.btn {
    width: 100%;
}

#resources_filter {
    display: none;
}

#queries_filter {
    display:none;
}


#resources_wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
}

#queries_wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
}


#export-modal {
    background-color: #0007;
}

table li {
    padding-left:0;
    list-style-type: none;
    display: inline-block;
}

.modal-content hr {
    margin: 30px 15px;
}

.modal {
  overflow-y:auto;
}

#resources_wrapper {
    height: 550px;
}

#resources_wrapper table, .scroll-zone{
    overflow:scroll;
}

#resourceDetail scrollzone {
 height:600px;
}

#resources_wrapper table th:first-child{
    width:75px;
}

.table th, .table td {
    padding: 1px;
    padding-left:5px;
    border: 0;
}

table.dataTable {
    border-collapse: collapse !important;
    border: 1px solid lightgrey;
}

.fixed-bottom {
    z-index: 2000;
}

.logos img {
    width: 60%;
    padding:15px;
}

.tabs-container {
    margin-bottom: 15px;
}

.credits {
    border: 1px lightgrey solid;
    border-radius: 5px;
  /*margin: 15px;*/
    padding:15px;      
    margin: 0;
    margin-top: 15px;
    
}

.credits  p, .credits ul {
    margin:0;
}

.credits>div {
    margin-bottom:15px;
}

.credits>div:last-child {
    margin-bottom:0;
}

.footbar img,
.footbar p{
    padding: 20px;
}

.sidebar p {
    margin:0;
}

.sidebar ul {
    list-style: none;    
    padding-left: 0;
    margin: 0;
}

.sidebar li {
    padding-left: 15px;
}