<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Hello</p>
    <h3>Paràmetres</h3>
    <p th:text="${'localResRep: ' + localResRep}"></p>
    <p>db: <span th:text="${db}"></span></p>
    <p>dp: {localResRep: <span th:text="${dp.getLocalReasourceRepo()}"></span>, <span th:text="${'db: ' + dp.getDb()}"></span>}</p>
    <p>pp: {pp.prova1: <span th:text="${pp.getProva1()}"></span>, <span th:text="${'pp.prova2: ' + pp.getProva2()}"></span>}</p>
    <p th:text="${'pp.prova[0]: ' + pp.getProva().get(0)}"></p>
    <p>pp.prova[1]: [[${pp.getProva().get(1)}]]!</p>
</body>
</html>
