<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>TEST</h1>
    <h2>Seqüència de tests i resultats</h2>
    <ul id="testResultList">        
        <!--li th:fragment="resultTest" th:if="${testNum != null}">Test <span th:text="${testNum}"></span>: executant <b th:text="${testName}"></b> amb el resultat de <b th:text="${testResult}"></b></li-->
        <div th:if="${testNum != null}"><span th:fragment="resultTest" >Test <span th:text="${testNum}"></span>: executant <b th:text="${testName}"></b> amb el resultat de <b th:text="${testResult}"></b></span></div>
    </ul>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script th.inline="javascript">
        /*<![CDATA[*/
            jQuery(function() {
                var mintest = [[ ${fromTest} ]];
                var maxtest = [[${toTest}]];
                for(var i= mintest; i<=maxtest; i++){
                    var id = "test"+i;
                    var $nodeLi = jQuery("<li id='"+id+"'></li>");
                    jQuery("#testResultList").append($nodeLi);
                    jQuery("#"+id).load('/test/'+id+"?li=true");
                }
            });
        /*]]>*/
    </script>
    
</body>
</html>